<ng-template #ModalEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Tarea</h4>
        <h4 class="modal-title" id="modal-basic-title"> {{TaskOpened.ProjectId}}</h4>
        <h4 class="modal-title" id="modal-basic-title"> {{TaskOpened.IterationCode}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="CloseModal(TaskForm)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body"  >


      <form #TaskForm="ngForm">
            <div class="form-row">
                <div class="col-4">
                    <label for="TaskTitle">Código *</label>
                    <input type="text" class="form-control" name="IterTaskcode" #IterTaskcode required
                        [(ngModel)]="TaskOpened.IterationTaskCode" >
                </div>
                <div class="col-4">
                    <label for="TaskTitle">Titulo *</label>
                    <input type="text" class="form-control" name="IterTaskTitle" #IterTaskTitle required
                        [(ngModel)]="TaskOpened.Title">
                </div>
                <div class="col-4">
                    <label for="ReqSel">Requerimiento Asociado</label>
                    <ng-select [items]="Requirements" name="ReqSel" #ReqSel bindLabel="Title"
                        [(ngModel)]="RequirementSelected">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <label for="ProjSel">Tipo</label>
                    <ng-select [items]="this.TaskTypes" name="IterTaskType" #IterTaskType bindLabel="Value" bindValue="Key" [(ngModel)]="TaskOpened.TaskType">
                    </ng-select>
                </div>

                <div class="col-4 col-md-4">
                    <label for="etiqueta">Esfuerzo</label>
                    <input type="number" step="0.1" class="form-control" name="IterTaskPlannedEff" #IterTaskPlannedEff
                        required [(ngModel)]="TaskOpened.PlannedEffort" placeholder="0.0">
                </div>
                <div class="col-4 col-md-4">
                    <label for="etiqueta">Horas</label>
                    <input type="number"  class="form-control" name="IterTaskPlannedHours"
                        #IterTaskPlannedHours required [(ngModel)]="TaskOpened.PlannedHours" placeholder="0">
                </div>
            </div>
            <div class="form-group"
                style="border-radius: 5px; border: 1px solid; padding: 10px; margin-top: 1%;margin-bottom: 1%;">
                <h3 class="modal-title" id="modal-basic-title">Task Proxy</h3>

                <div class="form-row" style="margin-top: 10px;">
                    <div class="col-3 col-md-6">
                        <label for="etiqueta">Titulo</label>
                        <input type="text" class="form-control" name="TaskProxyTitle" #TaskProxyTitle required
                            [(ngModel)]="TaskProxyOpened.Title" >
                    </div>

                    <div class="col-3 col-md-3">
                        <label for="etiqueta">Tipo</label>
                        <input type="text" class="form-control" name="TaskProxyType" #TaskProxyType required
                            [(ngModel)]="TaskProxyOpened.Type" >

                    </div>
                    <div class="col-6 col-md-3">
                        <label for="etiqueta">Esfuerzo Promedio</label>
                        <input type="number" step="0.1" class="form-control" name="TaskProxyEffort" #TaskProxyEffort
                            required [(ngModel)]="TaskProxyOpened.EffortAvg" placeholder="0.0">
                    </div>
                </div>
            </div>
          </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="SaveTask(TaskForm)">Guardar</button>
    </div>

</ng-template>
