<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container-fluid mt-7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- Cabecera -->
        <div class="card-header border-0">
          <!-- <h3 class="mb-0">Lista de Proyectos</h3> -->
          <div class="row">
            <div class="col-2">
              <label for="ProjSel">Proyecto</label>
              <ng-select [items]="Projects" name="ProjSel" #ProjSel bindLabel="Title" [(ngModel)]="this.ProjectSelected"
                (change)="GetIterations()">
              </ng-select>
            </div>
            <div class="col-1" style="margin-top: 2em">
              <button type="button" class="btn btn-info btn-sm" (click)="NewProject()">+</button>
            </div>
            <div class="col-2">
              <label for="IterSel">Iteraciones</label>
              <ng-select [items]="Iterations" name="IterSel" #IterSel bindLabel="IterationCode"
                [(ngModel)]="this.IterationSelected" (change)="GetTasks()">
              </ng-select>
            </div>
            <div class="col-1" style="margin-top: 2em;">
              <button type="button" class="btn btn-info btn-sm" (click)="NewIteration()">+</button>
            </div>
          </div>


          <div class="row" style="margin-top:1em">

            <!-- LIST TASKS -->
            <div class="col-3">

              <div class="card shadow" style="margin-bottom: 15px;">
                <!-- Cabecera -->
                <div class="card-header">

                  <h2 style="display:inline-block">Tareas</h2>
                  <button type="button" style="float:right" class="btn btn-info btn-sm" (click)="NewTask()">+</button>
                </div>
                <h3 style="margin: 25px;" *ngIf="!IterationSelected.Tasks">{{tasksInfo}}</h3>
                <!-- Listado -->
                <div class="row taskRow" *ngFor="let task of IterationSelected.Tasks">
                  <div class="col-8">{{task.IterationTaskCode}}</div>
                  <div class="col-4">
                    <button type="button" title="Más opciones" class="btn btn-primary btn-sm">*</button>
                    <button type="button" title="Añadir a la semana->" (click)="AddTasktoWeek(task)"
                      class="btn btn-info btn-sm">&gt;</button>
                  </div>
                </div>
                <div class="row" style="margin-top:30px">
                  <div class="col-12"></div>
                </div>


              </div>
            </div>

            <!-- KANBAN  -->
            <div class="col-9">

              <div class="board">

                <div class="board-bar">
                  <div class="row">
                    <div class="col-2">
                      <button type="button" style="float: left;" class="btn btn-success" (click)="ChangeWeek(-1)"
                        [disabled]="this.WeekPosition==0">Anterior</button>
                    </div>
                    <div class="col-8">
                      <p class="board-name">{{ boardSelected.name }}</p>
                    </div>
                    <div class="col-2">
                      <button type="button" style="float: right;" class="btn btn-success" (click)="ChangeWeek(1)"
                        [disabled]="this.WeekPosition==this.IterationBoards.length-1">Siguiente</button>
                    </div>
                  </div>

                </div>

                <div class="board-wrapper">

                  <div class="board-columns" cdkDropListGroup>
                    <div class="board-column" *ngFor="let column of boardSelected.columns">

                      <div class="column-title">
                        {{ column.name }}
                      </div>

                      <div class="tasks-container"
                      cdkDropList
                      [cdkDropListData]="column.tasks"
                      (cdkDropListDropped)="drop($event,column.name)">
                        <div class="task" *ngFor="let item of column.tasks" cdkDrag >

                          <div (click)="ChangeTask($event,item.Title)">
                            <button type="button" (click)="EditPlanningEntry()"
                            class="btn btn-default btn-block">{{ item.Code }}*</button> <br>
                            <p style="display:inline">Tipo: {{GetTypeTask(item.TaskType)}} <br>Punto Funcional: {{item.PlannedEffort}}</p>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-iteration-edit #ModalEditIteration (OnSaveIterationEvent)="GetIterations()"></app-iteration-edit>
<app-project-edit #ModalEditProject (OnSaveProjectEvent)="GetProjects()"></app-project-edit>
<app-task-edit #ModalEditTask></app-task-edit>
<app-planning-entry-edit #ModalEditPlanningEntry ></app-planning-entry-edit>
