<ng-template #ModalEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Requirement Edit</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <form #rejectForm="ngForm">
  
        <div class="form-row">
          <div class="col-12">
            <label for="etiqueta">RequirementId</label>
            <input type="text" class="form-control" name="RequirementId" #RequirementId required >
            

        </div>
        <div class="col-12">

        </div>
    </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" >Save</button>
  </div>
</ng-template>

